<div class="text-center">
  <h1>Inscription</h1>
  <h4>Merci d'entrer une adresse email valide et un mot de passe compris entre 6 et 10 caractères</h4>
</div>

<% if flash[:error].present? %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:error] %>
  </div>
<% end %>

<% if flash.notice %>
  <div class="alert alert-success" role="alert">
    <%= flash.notice %>
  </div>
<% end %>
<%= form_with(model: @user, url: users_path) do |form| %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>

  <%= form.label :first_name %>
  <%= form.text_field :first_name %>

  <%= form.label :age %>
  <%= form.number_field :age %>

  <%= form.label :city_id, "Ville" %>
<%= form.collection_select :city_id, City.all, :id, :name, prompt: "Sélectionnez une ville" %>


  <%= form.submit "S'inscrire" %>
<% end %>

<p>Déjà inscrit ? <%= link_to "Se connecter", login_path %></p>