<h1>Profil de <%= @user.first_name %> <%= @user.last_name %></h1>
<p><strong>Email :</strong> <%= @user.email %></p>
<p><strong>Description :</strong> <%= @user.description %></p>
<p><strong>Age :</strong> <%= @user.age %></p>
<p><strong>Ville :</strong> <%= link_to @user.city.name, city_path %></p>

